/* Success */
.msg-success {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	padding: 10px 15px;
}
.msg-success h3 {
	color: #468847;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-success p {
	margin: 10px 0 0 0;
}

/* Warning */
.msg-warning {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	padding: 10px 15px;
}
.msg-warning h3 {
	color: #c09853;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-warning p {
	margin: 10px 0 0 0;
}

/* Error */
.msg-error {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	padding: 10px 15px;
}
.msg-error h3 {
	color: #b94a48;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-error p {
	margin: 10px 0 0 0;
}

/* Info */
.msg-info {
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	padding: 10px 15px;
}
.msg-info h3 {
	color: #3a87ad;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-info p {
	margin: 10px 0 0 0;
}
