/* Success */
.msg-success {
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	padding: 10px 15px;
}
.msg-success h3 {
	color:#468847;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-success p {
	margin: 10px 0 0 0;
}

/* Warning */
.msg-warning {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	padding: 10px 15px;
}
.msg-warning h3 {
	color:#C09853;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-warning p {
	margin: 10px 0 0 0;
}

/* Error */
.msg-error {
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	padding: 10px 15px;
}
.msg-error h3 {
	color:#B94A48;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-error p {
	margin: 10px 0 0 0;
}

/* Info */
.msg-info {
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1; 
	padding: 10px 15px;
}
.msg-info h3 {
	color:#3A87AD;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.msg-info p {
	margin: 10px 0 0 0;
}
